body {
  background-color: black;
}

.jumbotron h1{
	color: green;
}

.jumbotron{
	padding-top: 1%;
	background-color:transparent !important;
}

img {
	margin-top: 1%;
  width: 40%;
}

.submitFont{
	color: green;
}